
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,400;1,500&display=swap');
    .redressed {
    font-family: 'Redressed' cursive;
}
.merriweather{
    font-family: 'Merriweather' serif;
}
  .cc-navbar{
    background-color: rgba(0, 0, 0, 0.55);
    font-family: 'Merriweather', serif, sans-serif,Georgia, 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
  } 
  .cc-navbar .nav-link{
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4 ease-in-out, border-color 0.3 ease;
  }
  .banner, 
  .order-form {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url('../img/banniere2.jpeg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
  }
  .order-form{
    height: 500px;
  }
  .cc-menu{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url('../img/banniere5.jpeg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1300px;
  }
  .banner .banner-desc{
    font-size: 40px;
    font-weight: 400;
    color: #fff;
  }
  .cc-navbar .nav-link:hover{
    padding-bottom: 20px;
    border-bottom-color: var(--bs-teal);
  }

  .btn-order{
    color: var(--bs-teal);
    border-color:var(--bs-teal); 
    transition: 0.5s;
  }
  .btn-order:hover,
  .btn-order:active {
    color: #fff;
    background-color: var(--bs-teal);
  }